<%- include('../partials/head') %>
<%- include('../partials/header', { classifications, isAuth }) %>


<main>
    <%- messages() %>

    <section>
        <form action="/account/login" method="POST">
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button>Login</button>
            <p>
                No Account? <a href="/account/register">Sign up</a>
            </p>
        </form>
    </section>
  </div>
</main>

<%- include('../partials/footer') %>
