<header>
  <div class="log-login-wrapper">
    <a href="/" class="logo">CSE Motors</a>
    <div class="login-wrapper">
      <% if (isAuth) { %>
        <a href="/account/logout" class="manage-link">Logout</a>
        <a href="/inventory" class="manage-link">Inventory</a>
      <% } else { %>
        <a href="/account/login">Login</a>
      <% } %>
    </div>
  </div>
  <%- include('./navigation', { classifications }) %>
</header>
