<header>
  <div class="log-login-wrapper">
    <a href="/" class="logo">CSE Motors</a>
    <div class="login-wrapper">
      <a href="#">My Account</a>
    </div>
  </div>
  <%- include('./navigation', { classifications }) %>
</header>
