<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% classifications.forEach(cls => { %>
      <li><a href="/classifications/<%= cls.classification_id %>"><%= cls.classification_name %></a></li>
    <% }) %>
  </ul>
</nav>