<%- include('./partials/head') %>
<%- include('./partials/header', { classifications, isAuth, accountData }) %>


<main>
    <h1 class="error-title">Something Went Wrong</h1>
</main>

<%- include('./partials/footer') %>
