<%- include('./partials/head') %>
<%- include('./partials/header', { classifications, isAuth, accountData }) %>

<main class="inventory-management">
  <section class="page-heading">
    <div>
      <h1>Inventory Management</h1>
    </div>
    <div class="cta-group">
      <a class="btn primary" href="/inventory/add-inventory">Add Inventory</a>
      <a class="btn" href="/inventory/add-classification">Add Classification</a>
    </div>
  </section>

  <section class="message-stack">
    <%- messages() %>
  </section>

</main>

<%- include('./partials/footer') %>
